/*
/.**

!/README.md
!/.gitignore
!/.gitmessage
!/.zshrc
!/.zsh/**
!/.tmux.conf
!/.config/nvim/**
!/.templates/**
!/.Brewfile
!/.hyper.js
!/.hyper_plugins/local/**
!/.yabairc
!/.skhdrc
!/.hammerspoon/init.lua
!/.git_credentials.sample
!/.install_for_amazonlinux2.sh
!/.claude/settings.json
